nav {
  background-image: url("./bkg-sky.jpg");
}

.form-errors {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}

.forecast {
  padding: 30px;
  margin-left: 1rem;
}

#forecast-weather {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: center;
  padding: 30px 20px;
  float: right;
  margin-left: -25px;

}

.box {
  border: solid 1px;
  margin: auto;
}

table {
  width: 25%;
}

h2 {
  margin-top: 1rem;
}

.card-body {
  padding: 20px;
}

#forecast-cards {
  display: flex;
  justify-content: space-around;
  padding: 30px 30px;
  font-size: small;
  
}

.forecast {
  padding: 30px;
  margin-left: 1rem;
}

h4 {
  margin-right: auto;
}

#cityList {
  font-size: large;
}